.projects {
    background: linear-gradient(
        180deg,
        rgba(248, 249, 250, 0.4) 0%,
        rgba(0, 123, 255, 0.2) 100%
    );
}
.project-card-container {
    padding: 30px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
    background: #f3f3f3;
}
.tech-badge {
    padding: 5px 10px;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}
.title-card {
    min-height: 80px;
}
.page-scroll {
    height: 300px;
    overflow: scroll;
    box-shadow: 2px 2px 2px 1px rgb(0 0 0 / 20%);
}

.page-scroll img {
    width: 100%;
}
